Source: odn-box
Maintainer: Someone FIXME <dev@opendata.sk>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9)
Homepage: http://opendata.sk
Vcs-Git: https://github.com/OpenDataNode/odn-box.git

Package: odn-simple
Architecture: all
Priority: extra
Section: web
Depends: unifiedviews-backend, unifiedviews-webapp, odn-solr, odn-ckan | odn-ckan-shared, odn-restsql, postgresql, apache2-mpm-worker, libapache2-mod-wsgi
Description: OpenData Node - all-in-one installation
 Simple installation for previewing and low traffic usages.
