Source: odn-simple
Maintainer: Someone FIXME <dev@opendata.sk>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9)
Homepage: http://opendata.sk
Vcs-Git: https://github.com/OpenDataNode/odn-box.git
Version: 0.10.0-SNAPSHOT

Package: odn-simple
Architecture: all
Priority: extra
Section: web
Depends: unifiedviews-pgsql, odn-solr (>> 4.10.2-odn0.10.1), odn-ckan | odn-ckan-shared (>> 2.2.1-odn0.10.0), postgresql, apache2-mpm-prefork, libapache2-mod-wsgi, python-pip, gettext, virtuoso-opensource (= 7.2)
Description: OpenData Node - all-in-one installation
 Simple installation for previewing and low traffic usages.
