Source: odn-simple
Maintainer: jan.marcek@eea.sk
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9)
Homepage: http://opendatanode.org/
Vcs-Git: https://github.com/OpenDataNode/odn-box.git

Package: odn-simple
Architecture: all
Priority: extra
Section: web
Depends: postgresql, apache2-mpm-worker, libapache2-mod-wsgi, python-pip, gettext, curl, bc, lsb-release,
    unifiedviews-pgsql (>= 2.2), unifiedviews-pgsql (<< 2.3),
    odn-midpoint (>= 1:3.3-odn1.3.0), odn-midpoint (<< 1:3.4-odn1.4),
    odn-cas (>= 1.1), odn-cas (<< 1.2),
    odn-solr (>= 4.10.2-odn1.0), odn-solr (<< 4.10.2-odn1.2),
    odn-ckan-shared (>= 2.3.2-odn1.3), odn-ckan-shared (<< 2.3.2-odn1.4),
    odn-uv-plugins (>= 1.2), odn-uv-plugins (<< 1.3),
    virtuoso-opensource (>= 7.2), virtuoso-opensource (<< 7.3)
Conflicts: odn-simple (<= 0.9-2)
Description: Open Data Node - all-in-one installation
 Simple one server installation for low to medium traffic usages.
